@model ProdutoDomain.Entidades.Produtos

<h3 class="d-flex align-items-center justify-content-between">
    <span>@(Model != null ? "Editar Produto" : "Cadastrar Produto")</span>
    <div>
        <a class="btn btn-outline-light" href="@Url.Action("Produtos", "Produtos")">
            <i class="bi bi-arrow-left-short"></i> Voltar
        </a>
    </div>
</h3>

<form name="formularioCriarEditarProduto" method="post" action="@Url.Action("SalvarProduto", "Produtos")">
    <div class="form-floating col-sm-7 mb-3 align-content-center mx-auto">
        <input class="form-control form-control-sm" type="text" id="Nome" name="Nome" value="@Model.Nome" required>
        <label for="Nome">Nome do Produto</label>
    </div>
    <div class="form-floating col-sm-7 mb-3 align-content-center mx-auto">
        <input class="form-control form-control-sm" type="text" id="Preco" name="Preco" value="@Model.Preco" required>
        <label for="Preco">Preço R$</label>
    </div>
    <div class="mb-3 text-end">
        <input type="hidden" value="@Model.Id" name="Id"/>
        <button type="submit" class="btn btn-success" id="formularioCriarEditarProduto"> @(Model.Id == 0 ? "Salvar" : "Salvar Alterações")</button>
    </div>
</form>

