@model IEnumerable<ProdutoDomain.Entidades.Produtos> 
@using ProdutoDomain.Entidades
@{
    int contador = 1;
}
@if (ViewBag.Error != null)
{
    <div>Ocorreu erro: @ViewBag.Error</div>    
}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<h3 class="d-flex align-items-center justify-content-between">
    <span>Produtos</span>
    <div>
        <a class="btn btn-primary me-2" href="@Url.Action("CriarEditarProduto", "Produtos", null)">
            <i class="bi bi-plus"></i> Cadastrar
        </a>
        <a class="btn btn-outline-light" href="@Url.Action("Index", "Home")">
            <i class="bi bi-arrow-left-short"></i> Voltar
        </a>
    </div>
</h3>

<table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col"><i class="bi bi-align-start"></i></th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Produtos produto in Model)
        {
            <tr>
                <td>@contador</td>
                <td>@produto.Nome</td>
                <td>R$@produto.Preco</td>
                <td class="text-end">
                    <!-- Alinha os botões à direita -->
                    <a class="btn btn-sm btn-light" href="@Url.Action("CriarEditarProduto", "Produtos", new { id = produto.Id })">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("ExcluirProduto", "Produtos", new { id = produto.Id })">
                        <i class="bi bi-trash3"></i> Excluir
                    </a>
                </td>
            </tr>
            contador++;
        }
    </tbody>
</table>
