@model List<ProdutoDomain.Entidades.Usuario>
@using ProdutoDomain.Entidades
@{
    int contador = 1;
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modal = document.getElementById('modal');
        const confirmDeleteLink = document.getElementById('confirmDelete');

        modal.addEventListener('show.bs.modal', function (event) {
            // Botão que acionou o modal
            const button = event.relatedTarget;

            // Pegando o ID do item
            const itemId = button.getAttribute('data-id');

            // Atualizando o link no modal
            confirmDeleteLink.href = `/Produtos/ExcluirUsuario?id=${itemId}`;
        });
    });
</script>

<h3 class="d-flex align-items-center justify-content-between">
    <span>Usuários</span>
    <div>
        <a class="btn btn-primary" href="@Url.Action("CriarEditarUsuario", "Produtos")">
            <i class="bi bi-plus"></i> Cadastrar
        </a>
        <a class="btn btn-outline-light" href="@Url.Action("Index", "Home")">
            <i class="bi bi-arrow-left-short"></i> Voltar
        </a>
    </div>
</h3>
<table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col"><i class="bi bi-align-start"></i></th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CPF</th>
            <th scope="col">CEP</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Usuario item in Model)
        {
            <tr>
                <td>@contador</td>
                <td>@item.nome</td>
                <td>@item.email</td>
                <td>@item.cpf</td>
                <td>@item.cep</td>
                <th class="text-end">
                    <span>
                        <a href="@Url.Action("CriarEditarUsuario", "Produtos", new {id = item.Id})" class="btn btn-sm btn-light"><i class="bi bi-pencil-square"></i> Editar</a>
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal" data-id="@item.Id"><i class="bi bi-trash3"></i> Remover</button>
                    </span>
                </th>
            </tr>
            contador++;
        }
    </tbody>
</table>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja remover?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <a href="#" id="confirmDelete" class="btn btn-sm btn-primary"><i class="bi bi-trash3"></i> Remover</a>
            </div>
        </div>
    </div>
</div>